body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#clock {
  font-size: 5em;
  letter-spacing: 3px;
}
